.btn {
  min-width: 60px;
  height: 60px;
  border-radius: 20px;

  text-align: center;
  cursor: pointer;

  .btn-icon {
    display: flex;
    justify-content: center;
    pointer-events: none;

    svg {
      width: 30px;
      height: 30px;
    }

    &.heart-icon svg {
      stroke-width: 1.4px;
    }
  }

  span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    font-family: 'Jost';
    font-size: 1rem;
    font-weight: 300;

    svg {
      font-size: 1.2rem;
    }
  }

  &.disabled {
    pointer-events: none;
  }
}

.sm-btn {
  min-width: 40px;
  height: 40px;
  border-radius: 10px;

  .btn-icon svg {
    height: 25px;
    width: 25px;
  }

  @media screen and (max-width: 400px) {
    min-width: 32px;
    height: 32px;

    .btn-icon svg {
      height: 20px;
      width: 20px;
    }

    &.large-btn-icon {
      .btn-icon svg {
        height: 25px;
        width: 25px;
      }
    }
  }
}

.btn-back svg {
  margin-right: 3px;
}

.sort-btns-container {
  display: flex;
  gap: 7px;
}

.menu-btn {
  margin-right: 10px;
}

.upload-btn {
  display: flex;
  height: 40px;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 30px;

  justify-content: center;
  align-items: center;

  gap: 7px;

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  @media screen and (max-width: 400px) {
    height: 32px;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
}
