.navigation {
  display: flex;
  flex-direction: column;

  gap: 10px;

  .user-row {
    display: flex;
    justify-content: space-between;

    gap: 10px;

    .username {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 10px 0 0 10px;

      span {
        text-decoration: underline;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        padding-left: 1rem;
        margin-bottom: 0.2rem;

        cursor: default;
      }
    }

    .user-btns {
      display: flex;
      gap: 10px;
    }
  }

  .page-links {
    display: flex;
    justify-content: space-between;

    flex-direction: row;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .nav-card {
    .nav-image {
      pointer-events: none;
      border-radius: 20px;
      border: 5px solid;
      display: flex;

      img {
        width: 7rem;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    .nav-btn {
      pointer-events: none;
      padding: 0.5rem 0;
      margin-top: 0.6rem;

      border-radius: 10px;

      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
