.navigation {
  display: flex;
  flex-direction: column;

  gap: 10px;

  .user-row {
    display: flex;
    justify-content: space-between;

    gap: 10px;

    .username {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 10px 0 0 10px;
      background-image: linear-gradient(90deg, #fff 80%, transparent);
      

      span {
        text-decoration: underline;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        padding-left: 1rem;
        margin-bottom: 0.2rem;
        color: $pink;
      }
    }

    .user-btns {
      display: flex;
      gap: 10px;
    }
  }

  .page-links {
    display: flex;
    justify-content: space-between;

    flex-direction: row;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .nav-card {
    .nav-image {
      pointer-events: none;
      border-radius: 20px;
      border: 5px solid;
      border-color: rgba(255, 255, 255, 0.6);
      display: flex;

      transition: border-color 500ms;

      img {
        width: 7rem;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    .nav-btn {
      pointer-events: none;
      padding: 0.5rem 0;
      margin-top: 0.6rem;
      background-color: #{$white};
      border-radius: 10px;

      color: #{$pink};
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;

      transition: background-color 500ms, color 500ms;
    }

    &:hover {
      .nav-image {
        border-color: rgba(255, 255, 255, 1);
      }

      .nav-btn {
        background-color: #{$pink-light};
      }
    }

    &.active {
      .nav-image {
        border-color: #{$pink-light};
      }

      .nav-btn {
        color: #{$white};
        background-color: #{$pink};
      }
    }
  }

  :nth-child(1) {
    .nav-image {
      background: #b4b7ff;
    }
  }

  :nth-child(2) {
    .nav-image {
      background: #97eab9;
    }
  }

  :nth-child(3) {
    .nav-image {
      background: #ffd280;
    }
  }
}
