.pagination {
  display: grid;
  grid-template-columns: repeat(11, max-content);
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: end;

  overflow: hidden;

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(7, max-content);
  }

  @media screen and (max-width: 315px) {
    grid-template-columns: repeat(5, max-content);
  }
}
