.search-form {
  position: relative;
  width: 100%;
  height: 60px;
  .search-input {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    padding: 10px 60px 10px 20px;
    line-height: 1;
    outline: none;

    font-family: 'Jost';
    font-size: 20px;
    font-weight: 400;

    &.is-invalid {
      animation: borderFlash .7s ease;
      animation-play-state: running;
    }

    &::placeholder {
      color: #{$grey};
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #{$grey};
    }

    &::-ms-input-placeholder {
      color: #{$grey};
    }

    // &:focus {
    //   border-color: #{$pink};
    // }
  }
  .search-botton {
    width: 40px;
    height: 40px;
    border-radius: 10px;

    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;

    background: #{$pink-light};
    color: #{$pink};
    font-size: 20px;
    outline: none;
    margin: 0;
    padding: 0 10px;
    z-index: 2;

    svg {
      margin-top: 4px;
    }

    &:hover {
      background: #{$pink};
      color: #{$white};
    }
  }
}

@keyframes borderFlash {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #{$pink};
  }
  50% {
    border-color: transparent;
  }
  75% {
    border-color: #{$pink};
  }
  100% {
    border-color: transparent;
  }
}