.breeds-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 7px;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  .breeds-select {
    width: 100%;
  }

  .limits_sorts {
    width: 100%;
    display: flex;
    gap: 7px;
  }
}

.breed-id-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .picture {
    display: flex;
    // min-height: 100%;
    transition-property: height min-height;
    transition-duration: 1500ms;

    img {
      border-radius: 20px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    .title {
      display: grid;
      justify-content: center;
      position: relative;
      bottom: -1.3rem;

      z-index: 1;

      h1 {
        width: max-content;
        height: max-content;
        padding: 0 2rem;
        background-color: #fff;
        font-size: 1.7rem;
        font-weight: 400;
      }
    }

    .box {
      border-width: 1px;
      border-style: solid;
      border-radius: 20px;

      display: grid;
      justify-items: center;
      align-items: center;

      padding: 1.5rem 3rem;

      justify-content: space-around;
      gap: 10px;

      .description {
        font-weight: 400;
        text-align: center;
        width: 70%;
        line-height: 1rem;
      }

      .stats {
        display: flex;
        width: 100%;
        gap: 5px;

        .col-r,
        .col-l {
          width: 50%;
          display: flex;
        }

        .option {
          display: flex;
          :nth-child(1) {
            font-weight: 400;
          }
        }

        .col-l {
          .option {
            flex-direction: column;
          }
        }

        .col-r {
          flex-direction: column;
        }
      }
    }
  }

  @media screen and (max-width: 415px) {
    .info {
      .title {
        bottom: -1rem;
        h1 {
          width: max-content;
          padding: 0 2rem;
          background-color: #fff;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }

      .box {
        padding: 1rem 1rem 0.3rem;

        font-size: 16px;
        .description {
          width: 100%;
        }
        .stats {
          gap: 1px;
          flex-direction: column;
          .col-r,
          .col-l {
            width: 100%;
            display: flex;
            .option {
              :nth-child(2) {
                margin-top: -5px;
              }
            }
          }

          .col-r {
            gap: 1px;
            .option {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
