$light: #f8f8f7;
$dark: #1d1d1d;
$pink-light: #fbe0dc;
$another-light: #ffd280;
$pink: #ff868e;
$pink_20per: rgba(255, 134, 142, 0.2);
$white: #fff;
$white_5per: rgba(255, 255, 255, 0.05);
$grey: #8c8c8c;
$grey-light: #f8f8f7;
$success: #97eab9;
$dark-upload: #282828;

.main-container {
  --bg-color: #{$light};
  --bg-color-content: #{$white};
  --bg-primary: #{$grey-light};
  --bg-secondary: #{$white};
  --bg-btn-dark: #{$pink-light};
  --bg-btn-light-hover: #{$pink-light};
  --bg-home: #{$pink-light};
  --bg-votes-history-item: #{$grey-light};

  --border-votes-block: #{$pink-light};

  --text-color-primary: #{$dark};
  --text-color-secondary: #{$dark};

  background-color: var(--bg-color);

  transition-property: color, background-color, border-color;
  transition-duration: 300ms;

  .content {
    background-color: var(--bg-color-content);

    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
  }
}

.main-container.dark {
  --bg-color: #{$dark};
  --bg-color-content: #{$white_5per};
  --bg-home: #{$white_5per};
  --bg-primary: #{$white_5per};
  --bg-secondary: #{$dark};
  --bg-btn-dark: #{$pink_20per};
  --bg-votes-history-item: #{$white_5per};
  --bg-btn-light-hover: #{$pink_20per};

  --border-votes-block: #{$pink_20per};

  --text-color-primary: #{$white};
  --text-color-secondary: #{$grey-light};
}

.home {
  background-color: var(--bg-home);
}

.menu {
  background-color: var(--bg-color);
}

.theme-swither {
  .theme-icon {
    background-color: var(--bg-btn-dark);
    color: #{$pink};
  }
  .slider {
    background-color: #ccc;
  }
  .slider:before {
    background-color: white;
  }
  input:checked + .slider {
    background-color: $pink;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
}

.logo {
  color: var(--text-color-secondary);
  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
  :nth-child(2) {
    // background-color: rgb(255, 149, 0);
    background-color: $pink;
  }
  &:hover {
    background-color: var(--bg-btn-dark);
  }
}

.select {
  outline-color: $pink;
  select {
    background-color: var(--bg-primary);
    color: #{$grey};
  }

  &.secondary {
    color: #{$grey};
    select {
      background-color: var(--bg-secondary);
      color: var(--text-color-primary);
    }
  }

  .select-icon {
    color: $grey;
  }

  :focus {
    border-color: $pink;
  }
}

.btn-light {
  background-color: var(--bg-secondary);

  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
  svg {
    color: #{$pink};
  }

  .heart-icon svg {
    stroke: #{$pink};
    fill: var(--bg-secondary);
  }

  &:hover {
    background-color: var(--bg-btn-light-hover);
    .heart-icon svg {
      fill: #{$pink};
    }
  }

  &.active {
    background-color: #{$pink};

    svg {
      color: #{$white};
    }

    .heart-icon svg {
      stroke: #{$white};
      fill: #{$pink};
    }

    &:hover {
      background-color: #{$pink-light};
      svg {
        color: #{$pink};
      }
      .heart-icon svg {
        stroke: #{$pink};
        fill: #{$pink-light};
      }
    }
  }
}

.btn-dark {
  background-color: var(--bg-btn-dark);
  color: #{$pink};

  transition-property: color, background-color, border-color;
  transition-duration: 300ms;

  .heart-icon svg {
    stroke: #{$pink};
    fill: var(--bg-btn-dark);
  }

  &:hover {
    background-color: #{$pink};
    color: #{$white};

    .heart-icon svg {
      stroke: #{$white};
      fill: #{$pink};
    }
  }

  &.active {
    background-color: #{$pink};
    color: #{$white};

    .heart-icon svg {
      stroke: #{$white};
      fill: #{$pink};
    }
  }
}

.btn-primary {
  background-color: var(--bg-primary);
  border: 2px solid transparent;
  color: #{$grey};

  transition-property: color, background-color, border-color;
  transition-duration: 300ms;

  svg {
    color: #{$grey};
    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
  }
  &:hover {
    color: #{$pink};
    svg {
      color: #{$pink};
    }
  }
  &.active {
    border-color: #{$pink};
    color: #{$pink};
    svg {
      color: #{$pink};
    }
  }
}

.menu-btn {
  background-color: transparent;
}

.gallery .overlay {
  background-color: rgba(255, 134, 142, 0.6);
}

.breadcrumb {
  .page-label {
    background-color: #{$pink-light};
    color: #{$pink};
  }
  > :last-child {
    background-color: #{$pink};
    color: #{$white};
  }
}

.gallery-item .overlay .title {
  background-color: #{$grey-light};
  color: #{$pink};

  transition-property: color, background-color, border-color;
  transition-duration: 300ms;

  &:hover {
    color: #{$grey};
  }
}

.breed-id-content .info .box {
  border-color: $pink;
  .description {
    color: $grey;
  }
  .option {
    :nth-child(2) {
      color: $grey;
    }
  }
}

.no-item {
  background-color: var(--bg-votes-history-item);
  color: $grey;
}

.gallery-filters {
  background-color: var(--bg-primary);
  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
}

.navigation {
  .username {
    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
    background-image: linear-gradient(
      90deg,
      var(--bg-color-content),
      80%,
      transparent
    );
    span {
      color: $pink;
    }
  }

  .page-links .nav-card {
    .nav-image {
      border-color: rgba(255, 255, 255, 0.6);
      transition-property: color, background-color, border-color;
      transition-duration: 300ms;
    }

    .nav-btn {
      background-color: var(--bg-color-content);
      color: #{$pink};
      transition-property: color, background-color, border-color;
      transition-duration: 300ms;
    }

    &:hover {
      .nav-image {
        border-color: rgba(255, 255, 255, 1);
      }

      .nav-btn {
        background-color: var(--bg-btn-light-hover);
      }
    }

    &.active {
      .nav-image {
        border-color: #{$pink-light};
      }

      .nav-btn {
        color: #{$white};
        background-color: #{$pink};
      }
    }
  }

  :nth-child(1) {
    .nav-image {
      background: #b4b7ff;
    }
  }

  :nth-child(2) {
    .nav-image {
      background: #97eab9;
    }
  }

  :nth-child(3) {
    .nav-image {
      background: #ffd280;
    }
  }
}

.upload-modal {
  &.dark {
    .content {
      background-color: $dark-upload;
    }
    .upload-title {
      color: white;
    }
    .upload-input {
      background-color: $white_5per;
      .upload-default-img {
        filter: brightness(0.3);
      }
    }
    .upload-input-label {
      color: $pink;
      span {
        color: $pink-light;
      }
    }
  }
  .content {
    background-color: $grey-light;
  }

  &.show {
    animation: fadeIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  .upload-title {
    color: $dark;
  }

  .upload-description {
    color: $grey;

    a {
      color: $pink;
    }
  }

  .upload-input-label span {
    color: $grey;
  }

  .upload-input {
    border-color: $pink-light;
    background-color: $white;
    &.failed {
      border-color: $pink;
      background-color: $pink-light;
    }
  }

  .file-name {
    color: $grey;
  }

  .status-message {
    background-color: $white;
    color: $grey;

    .svg-success {
      color: $success;
    }

    .svg-failed {
      color: $pink;
    }
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(29, 29, 29, 0.8);
  }
}

.votes-content {
  .votes-item {
    border-color: var(--border-votes-block);
  }

  .votes-item-title {
    background-image: linear-gradient(
      90deg,
      #fbe0dc 30%,
      #e1fbdc 60%,
      transparent 100%
    );
    color: $pink;
  }

  .history-card {
    background-color: var(--bg-votes-history-item);

    .history-date-container {
      background-color: var(--bg-color-content);
      color: $grey;
    }

    .history-text {
      color: $grey;
      .img-id {
        color: var(--text-color-primary);
      }
    }

    .history-icon {
      &.removed {
        color: $pink;
      }
      &.Likes {
        color: $success;
      }
      &.Dislikes {
        color: $another-light;
      }
    }
  }
}

.no-item .link {
  span {
    color: $pink;
  }
}

.start-page .welcome {
  color: $grey;

  span {
    color: $pink;
  }
}

.login-form {
  .login-input {
    border-color: transparent;
    background-color: var(--bg-color-content);
    color: var(--text-color-primary);
    &::placeholder {
      color: #{$grey};
    }

    &:-ms-input-placeholder {
      color: #{$grey};
    }

    &::-ms-input-placeholder {
      color: #{$grey};
    }

    &.is-invalid {
      animation: borderFlash 0.7s ease;
      animation-play-state: running;
    }
  }
  .login-btn {
    background: var(--bg-btn-dark);
    color: #{$pink};

    &:hover {
      background: #{$pink};
      color: #{$white};
    }
  }
}

@keyframes borderFlash {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #{$pink};
  }
  50% {
    border-color: transparent;
  }
  75% {
    border-color: #{$pink};
  }
  100% {
    border-color: transparent;
  }
}

.lds-roller div:after {
  background: #{$pink};
}
